doctype html
html(lang=en)
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="stylesheet", href="/style.css")
    title ElectronNCM Downloads

  body
    div(class='container')
      each item in data
        section
          div(class='build-item' data-hash=item.hash data-timestamp=item.timestamp)
            div(class='title')
              span #{item.hash}
              div
                each bin, os in item.pkgs
                  a(href=bin.url) #{os}
            p(class='sub-title') Changes to be included in this bulid:
            div(class='detail')
              ul
                each commit in item.commits
                  li #{commit.commit.message}
