doctype html
html(lang=en)
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title ElectronNCM Downloads

  body
    each binary, name in data
      section
        h2 Branch: #{name}
        table
          thead
            tr
              th link
              th size
              th time
          tbody
            each item in binary
              tr
                td
                  a(href=item.url) #{item.name}
                td #{item.size}
                td #{item.time}
